extends spacial_index_layout

mixin medium_box
  div(class='6u$ 12u$(medium)')
    block

mixin small_box
  div(class='6u 12u$(xsmall)')
    block

mixin small_box_end
  div(class='6u$ 12u$(xsmall)')
    block

mixin captioned_image(src, caption)
  div(class='image fit captioned')
    img(src='#{src}', alt='')
    h3 #{caption}

mixin section(style, container, row, title, subtitle)
  section(class='wrapper #{style}')
    div(class='container #{container}')
      header(class='major')
        h2 #{title}
        p #{subtitle}
      div(class='row #{row}')
        if block
          block
        else
          p No content provided

block content
  +section('style1', '75%', '200%', 'Ambition', 'Dedicated to make Helsinki a healthy melting-pot')
    +medium_box
      p We are a community of people actively working on preparing workshops and other activities to help refugees and locals to interact, understand each other and create a healthy community.
  +section('style2 special', '', '150%', 'Workshops', 'Joint activities between refugees and locals')
    +small_box
      +captioned_image('images/art.jpg', 'Art workshop')
    +small_box_end
      +captioned_image('images/skateboard.jpg', 'Skateboard workshop')
    +small_box
      +captioned_image('images/climbing.jpg', 'Climbing workshop')
    +small_box_end
      +captioned_image('images/computer.jpg', 'Computer workshop')
    
